
body{
    background-color: black;
    color: white;
}
#a1{
    background-color: red;
}
#a2{
    background-color: aqua;
}
#a3{
    background-color: blue;
}
#a4{
    background-color: brown;
}
#a5{
    background-color: yellowgreen;
}
#a6{
    background-color: orange;
}
#A7{
    background-color: plum;
}